<h1>
    404
</h1>
<p class="m-error_subtitle">
    OopsYouAreLost
</p>
<p class="m-error_description">
    WeCanNotFindThePage<br />
    <a href="@Url.Action("Index", "Home")" class="link">HomePage</a>.
</p>