@using JK.Chat;
@{
    CurrentPageName = "Chat";
}
@section scripts
    {
    <environment names="Staging,Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
        <script src="~/lib/websocket/reconnecting-websocket.js" asp-append-version="true"></script>
        <script src="~/lib/msgpack/msgpack.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Chat/chatWebSocket.js"></script>
        <script src="~/view-resources/Views/Chat/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Production">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="~/lib/websocket/reconnecting-websocket.min.js" asp-append-version="true"></script>
        <script src="~/lib/msgpack/msgpack.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Chat/chatWebSocket.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Chat/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix" id="chatApp">
    <br />
    <div class="col-xs-12 col-sm-3">
        <div class="card" style="height:85vh">
            <div class="body">
                <div id="ChatSessionAndFriendPanel" class="tabbable-line">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#SessionsTab" data-toggle="tab" role="tab">
                                Sessions
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#FriendsTab" data-toggle="tab" role="tab">
                                Friends
                            </a>
                        </li>
                        <li role="presentation" class="right">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NewGroupModal">
                                NewGroup
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="SessionsTab" role="tabpanel">
                            <vue-groups-container v-bind:groups="groups"></vue-groups-container>
                        </div>
                        <div class="tab-pane" id="FriendsTab" role="tabpanel">
                            <vue-friends-container v-bind:friends="friends"></vue-friends-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="tab-content">
            <vue-messages-container v-for="group in groups" :key="group.gid"
                                    :loginuid="@AbpSession.UserId.GetValueOrDefault()" 
                                    :currentgroup="group"
                                    :gmessages="gmessages"
                                    :readystate="readystate"></vue-messages-container>

        </div>

    </div>
    <div class="modal fade" id="NewGroupModal" tabindex="-1" role="dialog" aria-labelledby="NewGroupModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>NewGroup</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <vue-newgroup-form></vue-newgroup-form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="x-template" id="groupsContainerTemplate">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" v-for="group in groups" href="#" :key="group.gid">
            <a :href="'#group'+group.gid+'tab'" data-toggle="tab" aria-expanded="false">
                <div class="media">
                    <div class="media-left">
                        <img :src="group.icon" class="img-circle">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{group.gname}}</h4>
                        <span>{{group.lstmsg}}</span>
                    </div>
                    <div class="media-right">
                        <span class="right">{{group.lsttime | grouptime}}</span>
                        <span class="badge bg-pink">{{group.unread}}</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</script>

<script type="x-template" id="friendsContainerTemplate">
    <div class="list-group" id="friendsContainer">
        <a v-for="friend in friends" :key="friend.uid" href="#" class="list-group-item" v-on:click="goChat(friend.uid);">
            <img :src="friend.icon" class="img-circle">
            <span>{{friend.uname}}</span>
        </a>
    </div>
</script>

<script type="x-template" id="messagesContainerTemplate">
    <div role="tabpanel" class="tab-pane" :id="'group'+currentgroup.gid+'tab'">
        <div class="card" style="height:85vh">
            <div class="header">
                &nbsp; {{currentgroup.gname}}
                <ul class="header-dropdown m-r-10">
                    <li class="dropdown">
                        <button type="button" id="btnOpen" v-on:click="online" v-if="readystate==3" class="btn btn-primary">上线</button>
                        <button type="button" v-else-if="readystate==0" class="btn btn-primary">连接中</button>
                        <button type="button" id="btnClose" v-on:click="offline" v-else class="btn btn-primary">下线</button>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="panel" style="height:65vh;overflow-y:auto;" ref="messagespanel">
                    <ul class="list-group">
                        <li v-for="item in messages" :key="item.mid" class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img src="/images/user.png" class="img-circle">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" v-if="item.uid!=loginuid"><span>{{item.uname}}</span></h4>
                                    <span :class="{right:item.uid==loginuid}">{{item.msg}}</span>
                                </div>
                                <div class="media-right">
                                    <time>{{item.time | timeago}}</time>
                                    <i class="material-icons col-green">{{item.s==2?"done_all":"done"}}</i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel">
                    <div class="input-group" v-if="currentgroup.gid">
                        <input type="text" v-model="message" id="message" v-on:keyup.enter="sendMessage();" name="message" class="form-control" placeholder="Write a message..." />
                        <span class="input-group-btn">
                            <input type="button" id="btnSend" v-on:click="sendMessage();" class="btn btn-primary" value="Send" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>

<script id="newGroupFormTemplate" type="x-template">
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label class="form-label">Group name</label>
                    <div class="form-line">
                        <input type="text" class="form-control" v-model="gname" required maxlength="@ChatGroup.MaxNameLength">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" v-on:click="gname='';">@L("Cancel")</button>
            <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal" v-on:click="createGroup">@L("Save")</button>
        </div>
    </div>
</script>